{% extends "bootstrap/base.html" %}
{% block title %}Task queue system{% endblock %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{{ super() }}
{% endblock %}

{% block styles %}
{{ super() }}
    <!-- Custom style from Bootstrap starter example -->
    <style>
        body {
            padding: 90px 50px 50px;  /* padding: <top> <left/right> <bottom> */
        }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Task Queue</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form action="/login" method="POST" class="navbar-form navbar-right">
                    <div class="form-group">
                        {{ nav_form.username(class='form-control', placeholder='Login')|safe }}
                        {{ nav_form.password(class='form-control', placeholder='Password')|safe }}
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block content %}
{% endblock %}