{% extends "_base.html" %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        setInterval(function () {
            $('#task_table').load("/_table");
        }, 5000);
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}
{% block content %}
    {{ super() }}
    <h1>Task issuer</h1>
    {% macro render_bootstrap_field(field) %}
        <div class="form-group {% if field.errors %} error {% endif %}">
            {{ field.label }}
            {{ field(class='form-control')|safe }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="help-inline">[{{ error }}]</span><br>
                {% endfor %}
            {% endif %}
        </div>
    {% endmacro %}
    <form method="POST" action="">
    {{ form.hidden_tag() }}
      <div class="form-group">
        {{ render_bootstrap_field(form.message) }}
      </div>
      <button type="submit" class="btn btn-primary">Start command</button>
    </form>

    <div id="task_table">
        {% include "task_table.html" %}
    </div>

{% endblock %}