{% extends "_base.html" %}
{% block title %}Login - {{ super() }}{% endblock %}
{% block content %}
    {{ super() }}
    {% macro render_bootstrap_field(field) %}
        <div class="form-group row{% if field.errors %} error{% endif %}">
            {{ field.label(class='col-sm-1 col-form-label') }}
            <div class="col-sm-11">
                {{ field(class='form-control')|safe }}
            </div>
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="help-inline">[{{ error }}]</span><br>
                {% endfor %}
            {% endif %}
        </div>
    {% endmacro %}
    <div class="container-fluid">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ render_bootstrap_field(form.username) }}
            {{ render_bootstrap_field(form.password) }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
{% endblock %}